* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

:root {
    --bg-accent: rgb(162, 0, 255);
    --bg-accent: #2f9c95;
    --bg-light: rgb(245, 245, 245);
    --fc-primary: rgb(30, 30, 30);
    --fc-primary-muted: rgb(121, 121, 121);
    --fc-secondary: white;
    --fc-secondary-muted: rgb(233, 233, 233);
}

a {
    text-decoration: none;
    color: inherit;
}
